name: Push
on:
  push:
    branches:
      - main

jobs:
  docker:
    name: Build & push Docker containers
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Login to ghcr.io
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # TODO: read fs for all `Dockerfile.*`, and build & tag appropriately
      - name: Build `alpine`
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile.alpine
          push: true
          tags: ghcr.io/spectrs/docker-base:alpine
